<mat-card>

  <mat-card-title>Editar producto (GraphQL)</mat-card-title>

  <!-- Loader -->
  @if (loading) {
    <div style="text-align:center; margin: 20px 0;">
      <mat-spinner></mat-spinner>
    </div>
  }

  <!-- Error -->
  @if (error) {
    <div style="color: red; margin: 12px 0;">
      {{ error }}
    </div>
  }

  <!-- FORM -->
  @if (!loading) {
    <form [formGroup]="form" (ngSubmit)="submit()" style="margin-top: 20px;">

      <!-- TITLE -->
      <mat-form-field appearance="outline" style="width:100%; margin-bottom:12px;">
        <mat-label>Título</mat-label>
        <input matInput formControlName="title" />

        @if(form.get('title')?.invalid && form.get('title')?.touched) {
          <mat-error>El título es obligatorio</mat-error>
        }
      </mat-form-field>

      <!-- DESCRIPTION -->
      <mat-form-field appearance="outline" style="width:100%; margin-bottom:12px;">
        <mat-label>Descripción HTML</mat-label>
        <textarea
          matInput
          formControlName="descriptionHtml"
          rows="5"
        ></textarea>
      </mat-form-field>

      <!-- BUTTONS -->
      <div style="display:flex; gap: 10px; margin-top: 15px;">
        <button 
          mat-raised-button 
          color="primary" 
          type="submit" 
          [disabled]="form.invalid || loading">
          Guardar cambios
        </button>

        <button 
          mat-button 
          color="warn"
          type="button"
          (click)="cancel()">
          Cancelar
        </button>
      </div>

    </form>
  }

</mat-card>
